[submodule "lib/Symfony/Component/Console"]
	path = lib/Symfony/Component/Console
	url = https://github.com/symfony/Console.git
[submodule "lib/Symfony/Component/ClassLoader"]
	path = lib/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader
[submodule "plugins/PhpCompatibility/lib/PHP/CompatInfo"]
	path = plugins/PhpCompatibility/lib/PHP/CompatInfo
	url = git://github.com/llaville/php-compat-info.git
[submodule "plugins/SourceCodeComplexity/lib/PHP/Depend"]
	path = plugins/SourceCodeComplexity/lib/PHP/Depend
	url = https://github.com/pdepend/pdepend.git
